{% extends "base.html" %}


{% block content %}
	
<div onClick="location.href='{% url 'logout'%}'" class="login_btn">Logout</div>

<h1> Welcome {{ user.first_name }} !</h1>
<table border="0" cellspacing="1" cellpadding="4" class="tborder">
<tr>
<td class="trow1">
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td class="trow1" width="75%">
<span class="largetext"><strong>You Basic</strong></span><br />
<span class="smalltext">
(Newbie)<br />

<img src="images/cleandark/postranks/new/bmember.png" border="0" alt="*" /><br />
<br />

</table>
<br />
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
<tr>
<td width="50%" valign="top">
<table border="0" cellspacing="1" cellpadding="4" class="tborder">
<tr>
<td colspan="2" class="thead"><strong>You Basic's Forum Info</strong></td>
</tr>
<tr>
<td class="trow1"><strong>Joined:</strong></td>
<td class="trow1">07-22-2014</td>
</tr>
<tr>
<td class="trow2"><strong>Last Visit:</strong></td>
<td class="trow2">08-11-2014 11:18 AM</td>
</tr>
<tr>
<td class="trow1"><strong>Total Posts:</strong></td>
<td class="trow1">3 (0.14 posts per day | 0.12 percent of total posts)<br /><span class="smalltext">(<a href="search.php?action=finduserthreads&amp;uid=127">Find All Threads</a> &mdash; <a href="search.php?action=finduser&amp;uid=127">Find All Posts</a>)</span></td>
</tr>
</div>


{% endblock %}