
/*padding is inside the box, margin is outside the box*/

#nav_bar {height:70px;
	      width:100%;
	      background-color:#00ffcf;
	      position:fixed;
        top: 0;
        right: 0;
	      padding-bottom:30px;
	      padding-left:20px;
	      font}
#canvas {margin-top: 100px}
	       
.login_btn {height:40px;
			width:220px;
			background-color:black;
      color:white;
			padding-top:10px; 
      display: inline-block;
			margin-top:15px;
      margin-right:20px;
	    text-align:center;
	    font-weight:bold;
	    font-size:20px;
	    font-family: Arial;
		  float: right;
      border-radius: 20px;
        }

.login_btn:hover {background-color:#e8ff00;
   }

span.z{ position: absolute;
        top:20px;
        padding-left: 30px;
        font-size: 30px;
        font-weight: bold;

}

#title {position:relative;
        top:-200px;}

#menu_bar {height:60px;
	      width:100%;
	      position:fixed;
        top:100px;
        left: 0;

	      background-color:#fe739b;
	      padding-top:20px;
	      padding-bottom:20px;
	      padding-left:20px;
	      }

.feature_btn {height:40px;
      width:220px;
      background-color:black;
      padding-top:10px; 
      display: inline-block;
      margin-top:15px;
      margin-right:20px;
      color:white;
      text-align:center;
      font-weight:bold;
      font-size:20px;
      font-family: Arial;
      float: left;
      border-radius: 20px;

}


.feature_btn:hover {background-color:#877aed;
                }


/* css for search box */





/* end of search code  */







/*style for map below */

h1 {
  position: absolute;
  top: 450px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  width: 960px;

}

