.login_btn {height:40px;
			width:220px;
			background-color:black;
      color:white;
			padding-top:10px; 
      display: inline-block;
			margin-top:15px;
      margin-right:20px;
	    text-align:center;
	    font-weight:bold;
	    font-size:20px;
	    font-family: Arial;
		  float: right;
      border-radius: 20px;
        }

.login_btn:hover {background-color:#e8ff00;
   }



}

/*style for map below */
